{% extends 'base.html' %}

{% block content %}
    <h2>Patient List</h2>
    <table class="patient-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
                <tr style="margin-bottom: 50px;">
                    <td>{{ patient.id }}</td>
                    <td>{{ patient.name }}</td>
                    <td>{{ patient.gender }}</td>
                    <td>{{ patient.date_of_birth }}</td>
                    <td>{{ patient.address }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
